@font-face {
  font-family: "Roboto Mono";
  src: url(fonts/RobotoMono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(fonts/Rubik/Rubik-Regular.ttf);
}

@media screen and (min-width: 480px) {
}

body {
  background-color: rgba(227, 215, 212, 1);
  display: flex;
  justify-content: center;
}

h1, h2 {
  font-family: "Roboto Mono", sans-serif;
  color: red;
  display: flex;
  justify-content: center;
  font-weight: normal, 600;
}

h2 {
  justify-content: left;
  display: inline;
  font-weight: normal, 600;
}

h4 {
  color: black;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: normal, 600;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #C8C4C2;
  padding-bottom: 5px;
  font-size: 12px;
  margin: 5px 0px 5px 0px;
}

button {
  background-color: #008000;
  border: none;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 15px 60px 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3);
}

.available {
  background-color: #eee;
  color: #adaaaa;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 5%;
}

.available:hover {
  background-color: #ccc;
  cursor: pointer;
}

.reserved {
  cursor: not-allowed;
  background-color: #adaaaa;
  color: #eee;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 5%;
}

.textinput {
  margin: 40px 0px 40px 0px;
}

#contents {
  margin: 0 auto;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

#tables {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
  width: 60%;
  display: inline-block;
  position: relative;
}

#form {
  background-color: white;
  width: 70%;
  top: 0px;
  position: absolute;
  padding: 50px;
  text-align: left;
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: none;
}

#close {
  cursor: pointer;
}

#reserve {
  cursor: pointer;
}

#table1 {
}

#table2 {
}

#table3 {
}

#table4 {
}

#table5 {
}

#table6 {
}

#table7 {
}

#table8 {
}

#table9 {
}
